.CheckOutCont{
    display: inline-block;
    width: 45%;
    height: 25%;
    margin: 60px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
   
}

.graciasCheckout{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color:rgb(38, 36, 36);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Inicio{

    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: black;
    border: 1px solid black;
    display: inline-block;
    border-radius: 20px;


}